<landing-page-nav></landing-page-nav>
<md-content id="signUpCard" class="md-padding" layout="row">
        <div layout="column">

          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Sign up below!</span>
              </md-card-title-text>
            </md-card-title>

                <md-content>
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Name</label>
                        <md-icon class="name"></md-icon>
                        <input ng-model="user.name" type="text">
                      </md-input-container>
                  
                      <md-input-container md-no-float class="md-block">
                        <md-icon ></md-icon>
                        <input ng-model="user.phone" type="text" placeholder="Phone Number">
                      </md-input-container>
                  
                      <md-input-container class="md-block">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon  ></md-icon>
                        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                      </md-input-container>
                  <md-button class="md-raised md-primary" ui-sref="home">Submit</md-button>                
                </md-content>
           </md-card>
        </div>
</md-content>