<div layout="column">
    <job-navbar></job-navbar>
        <div class="container" layout="row">
            <job-sidenav></job-sidenav>

            <md-content id="content" flex>
                <h1>Home page</h1>
                <h3>List of jobs</h3>
                    <ul>
                        <li ng-repeat="job in $ctrl.jobs">
                            {{job.positionName + ' - ' + job.company}}
                        </li>
                    </ul>
                    <md-button ui-sref="#">Search more jobs</md-button>

                        <br>
                <job-post></job-post>
                
            </md-content>
        </div>
</div>

