<div layout="column">
    <job-navbar></job-navbar>
        <div class="container" layout="row">
            <job-sidenav></job-sidenav>

            <md-content id="content" flex>
                <h1>Home page</h1>
                <h3>Top jobs</h3>
                    <ul>
                        <li ng-repeat="job in $ctrl.jobs | limitTo:quantity">
                            {{job.positionName + ' - ' + job.company}}
                            <span><md-button class="md-raised">Learn more</md-button></span>
                            <span><br><br></span>
                        </li>
                    </ul>
                    <md-button class="md-raised md-primary" ui-sref="jobSearchPage">Search more jobs</md-button>

                        <br>                
            </md-content>
        </div>
</div>

