<!DOCTYPE html>
<html ng-app="jobFinder">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Job Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../less/main.less" />
    <link rel="stylesheet" href="../src/main.css" />
</head>
<body ng-controller="AppCtrl as vm">

    <ui-view></ui-view>

    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../node_modules/@uirouter/core/_bundles/ui-router-core.js"></script>
    <script type="text/javascript" src="../node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script> 
    <script type="text/javascript" src="../src/app.js"></script>
    <script type="text/javascript" src="../src/components/jobPost/jobPost.js"></script>
    <script type="text/javascript" src="../src/components/Navbar/Navbar.js"></script>
    <script type="text/javascript" src="../src/components/sideNav/sideNav.js"></script>
    <script type="text/javascript" src="../src/components/jobSearch/jobSearch.js"></script>
    <script type="text/javascript" src="../src/components/signUp/signUp.js"></script>
    <script type="text/javascript" src="../src/components/landingPageNav/landingPageNav.js"></script>

    
</body>
</html>