<!DOCTYPE html>
<html ng-app="jobFinder">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Job Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../less/main.less" />
    <link rel="stylesheet" href="../src/main.css" />
    <link rel="stylesheet" href="../src/directives/pagination/style.css" />
</head>
<body>

    <ui-view></ui-view>

    <div>
        <div ng-hide="stateLoading"></div>
        <div ng-show="stateLoading">Your results are loading...</div>
    </div>
    
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../src/directives/pagination/dirPagination.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="../node_modules/@uirouter/core/_bundles/ui-router-core.js"></script>
    <script type="text/javascript" src="../node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script> 
    <script type="text/javascript" src="../src/app.js"></script>
    <script type="text/javascript" src="../src/components/jobPost/jobPost.js"></script>
    <script type="text/javascript" src="../src/components/Navbar/Navbar.js"></script>
    <script type="text/javascript" src="../src/components/sideNav/sideNav.js"></script>
    <script type="text/javascript" src="../src/components/jobSearch/jobSearch.js"></script>
    <script type="text/javascript" src="../src/controllers/signUpController.js"></script>
    <script type="text/javascript" src="../src/components/landingPageNav/landingPageNav.js"></script>
    <script type="text/javascript" src="../src/controllers/homeController.js"></script>
    <script type="text/javascript" src="../src/controllers/jobSearchPageController.js"></script>
    <script type="text/javascript" src="../src/controllers/jobSearchResultsController.js"></script>
    <script type="text/javascript" src="../src/controllers/jobDetailsPageController.js"></script>
    <script type="text/javascript" src="../src/controllers/landingPageController.js"></script>
    <script type="text/javascript" src="../src/services/dataService.js"></script>
    <script type="text/javascript" src="../src/services/variableService.js"></script>
    <!-- <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> -->


</body>
</html>