<div layout="column">   
    
            <div class="container">
                <md-content id="jobDetails" layout="row">
                        <md-card>
                            <md-card-title><strong>Job Description</strong></md-card-title>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaet 
                                cucapidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                                id est laborum
                            </p>
                        </md-card>
                        <md-card>
                                <md-card-title><strong>Job Assistant Card</strong></md-card-title>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaet 
                                    cucapidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                                    id est laborum
                            </p>
                        </md-card>
                </md-content>
                <md-button class="md-raised md-primary" ui-sref="jobSearchResults">Go back</md-button> 
            </div>
</div>