<div layout="column">
        <job-navbar></job-navbar>
            <div class="container" layout="row">
                <job-sidenav></job-sidenav>
    
                <md-content id="content" flex>
                    <md-card>
                        <md-card-content>

                            <md-card-title>
                                <h2>Job Search Results</h2>
                            </md-card-title>
                            
                            <div ng-show="result" layout="row">
                                <h3 class="md-title">You searched for: </h3>
                                <md-chips ng-repeat="filterTerm in selectedOptions" md-removable="$ctrl.removable" md-readonly="$ctrl.readonly">
                                    <md-chip ng-click="removeJob()">
                                        {{filterTerm}}
                                    </md-chip>
                                </md-chips>
                            </div>

                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="#" ng-click="orderByField='positionName'; reverseSort = !reverseSort">
                                            Position Name 
                                                <span ng-show="orderByField == 'positionName'">
                                                    <span ng-show="!reverseSort">^</span>
                                                    <span ng-show="reverseSort">v</span>
                                                </span>
                                            </a>
                                        </th>
        
                                            <th>
                                            <a href="#" ng-click="orderByField='company'; reverseSort = !reverseSort">
                                                Company Name 
                                                <span ng-show="orderByField == 'company'">
                                                    <span ng-show="!reverseSort">^</span>
                                                    <span ng-show="reverseSort">v</span>
                                                </span>
                                            </a>
                                            </th>
        
                                            <th>
                                            <a href="#" ng-click="orderByField='datePosted'; reverseSort = !reverseSort">
                                            Date Posted 
                                                <span ng-show="orderByField == 'datePosted'">
                                                    <span ng-show="!reverseSort">^</span>
                                                    <span ng-show="reverseSort">v</span>
                                                </span>
                                            </a>
                                            </th>
                                            <th>
                                                More info 
                                            </th>
                                            <th>
                                                Save job 
                                            </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="job in $ctrl.jobs |itemsPerPage: 10 
                                        | orderBy:orderByField:reverseSort | keywordFilter: result">
                                        <td>{{job.positionName}}</td>
                                        <td>{{job.company}}</td>
                                        <td>{{job.datePosted}}</td>
                                        <td>
                                            <md-button class="md-icon-button launch" ui-sref="jobDetailsPage">
                                                <md-icon class="material-icons">chrome_reader_mode</md-icon>
                                            </md-button>
                                        </td>
                                        <td>
                                            <md-button class="md-icon-button launch">
                                                <md-icon class="material-icons">bookmark</md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </md-card-content>
                        <!-- <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>              -->
                        </md-card>
                    <md-button class="md-raised md-primary" ui-sref="jobSearchPage">Go back</md-button>
                </md-content>
            </div>
    </div>
    
    