<landing-page-nav></landing-page-nav>
        <div id="signUpCard">
            <md-content class="md-padding" layout-xs="column" layout="row">
                <div flex-xs flex-gt-xs="100" layout="column" layout-align="center center">
                    
                  <md-card class="card-100-center">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Sign In</span>
                            </md-card-title-text>
                        </md-card-title>

                        <form method="post" class="signup_form">
                        <div class="md-padding" layout-align="center">
                            <div layout="row">
                              <md-input-container flex="100">
                                  <label>Username/Email</label>
                                  <input>
                              </md-input-container>
                              <md-input-container flex="100">
                                    <label>Password</label>
                                    <input type="password">
                                </md-input-container>
                            </div>
                            <md-button class="md-primary md-raised" ui-sref="home" type="submit">Sign In</md-button>


                            <div layout="row">
                             
                             
                            </div>
                        </div>
                        </form>
                        <md-card-actions layout="row" layout-align="center">
                            <br>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
           </md-card>
        </div>
