<div layout="column">
        <job-navbar></job-navbar>
            <div class="container" layout="row">
                <job-sidenav></job-sidenav>
                
                <md-content flex>
                    <md-card>
                        <md-card-content>
                            <div class="loading" ng-show="$ctrl.loading">
                                <h2>Your job results are loading...</h2>
                                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                            </div>
                            
                            <div ng-show="!$ctrl.loading" layout="row">
                                <h3 class="md-title">You searched for: </h3>
                                <md-chips ng-repeat="filterTerm in selectedOptions">
                                    <md-chip>
                                        {{filterTerm}}
                                                <button class="deleteButtonBackground" ng-click="$ctrl.removeFilterTerm(filterTerm)">
                                                    <md-icon class="material-icons">cancel</md-icon>
                                                </button>
                                    </md-chip>
                                </md-chips>
                            </div>

                            <table ng-show="!$ctrl.loading">
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="#" ng-click="orderByField='positionName'; reverseSort = !reverseSort">
                                            Position Name 
                                                <span ng-show="orderByField == 'positionName'">
                                                    <span ng-show="!reverseSort">^</span>
                                                    <span ng-show="reverseSort">v</span>
                                                </span>
                                            </a>
                                        </th>
        
                                            <th>
                                            <a href="#" ng-click="orderByField='company'; reverseSort = !reverseSort">
                                                Company Name 
                                                <span ng-show="orderByField == 'company'">
                                                    <span ng-show="!reverseSort">^</span>
                                                    <span ng-show="reverseSort">v</span>
                                                </span>
                                            </a>
                                            </th>
        
                                            <th>
                                            <a href="#" ng-click="orderByField='datePosted'; reverseSort = !reverseSort">
                                            Date Posted 
                                                <span ng-show="orderByField == 'datePosted'">
                                                    <span ng-show="!reverseSort">^</span>
                                                    <span ng-show="reverseSort">v</span>
                                                </span>
                                            </a>
                                            </th>
                                            <th>
                                                More info 
                                            </th>
                                            <th>
                                                Save job 
                                            </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="job in $ctrl.jobs |  keywordFilter: selected
                                        | orderBy:orderByField:reverseSort | itemsPerPage: 10">
                                        <td>{{job.positionName}}</td>
                                        <td>{{job.company}}</td>
                                        <td>{{job.datePosted}}</td>
                                        <td>
                                            <md-button class="md-icon-button launch" ui-sref="sharedDetails">
                                                <md-icon class="material-icons">chrome_reader_mode</md-icon>
                                            </md-button>
                                        </td>
                                        <td>
                                            <md-button ui-sref="" class="md-icon-button launch" ng-click="$ctrl.saveJob(job)">
                                                <md-icon class="material-icons">save</md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </md-card-content>
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>             
                        </md-card>
                    <md-button class="md-raised md-primary" ui-sref="jobSearchPage">Go back</md-button>
                </md-content>
            </div>
    </div>
    
    