<landing-page-nav></landing-page-nav>
<div class="landingPage">
        <md-whiteframe 
                ui-sref="signUp"
                class="md-whiteframe-5dp" 
                flex-sm="45" 
                flex-gt-sm="35" 
                flex-gt-md="40" 
                layout layout-align="center center">
                <md-button aria-label="logoLarge">
                        <img src="../assets/images/jobFinder.jpg" alt="Click to enter">
                </md-button>
                <br>
                <br>
        </md-whiteframe>
    <br>
</div>