<div layout="column">
    <job-navbar></job-navbar>
        <div class="container" layout="row">
            <job-sidenav></job-sidenav>
            <div ui-view></div>
            <md-content flex>
                    <md-card>
                        <md-card-content>
                            <h2><strong>Saved Jobs</strong></h2>
                            <ul>
                                    <li ng-repeat="savedJob in $ctrl.saveJobSvc.getSavedJobs()">
                                        {{savedJob.positionName + ' - ' + savedJob.company}}
                                        <md-button class="md-raised" ui-sref="savedJobs.details">Job Description + Guidance</md-button>
            
                                        <span><br><br></span>
                                    </li>
                            </ul>
                        </md-card-content>
                    </md-card>
                <md-button class="md-raised md-primary" ui-sref="jobSearchPage">Go back</md-button>
            </md-content>
        </div>
</div>