<md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ui-sref="landingPage">
                <md-icon class="material-icons">
                                search
                </md-icon>
            </md-button>
            <h1 flex md-truncate>Job Finder</h1>
                <md-button ui-sref="home">
                <md-icon class="material-icons">home</md-icon>
                        Home</md-button>
                <md-button ui-sref="signUp">
                        Sign Out</md-button>
        </div>
</md-toolbar>