#sidenav {
    height: 100vh;
}

.landingPage {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.resultsPage {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.md-whiteframe-5dp {
    display: flex;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: lightblue;
}

#signUpCard {
    justify-content: center;
}

.pagination {
list-style-type: none;
margin: 0;
padding: 0;
margin-left: 215px;
}

.page-item {
  padding: 15px 20px; 
  border: 1px solid #ddd;
}

md-card {
    padding: 25px;
}

#guidanceSpinner {
    width: 495px;
}



